<table class="table caption-top table">
    <caption>{{name}}</caption>
<thead>
    <tr>
        <th colspan="2">Spring</th>
        <th colspan="2">Summer</th>
        <th colspan="2">Fall</th>
        <th colspan="2">Winter</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Spring Morning</td>
        <td>Spring Night</td>
        <td>Summer Morning</td>
        <td>Summer Night</td>
        <td>Fall Morning</td>
        <td>Fall Night</td>
        <td>Winter Morning</td>
        <td>Winter Night</td>
    </tr>
    <tr>
        <td>{{springM}}</td>
        <td>{{springN}}</td>
        <td>{{summerM}}</td>
        <td>{{summerN}}</td>
        <td>{{fallM}}</td>
        <td>{{fallN}}</td>
        <td>{{winterM}}</td>
        <td>{{winterN}}</td>

    </tr>


</tbody>
</table>
<div appImportantText>The most suitable time to enjoy your holiday in {{name}} would be between {{visitFrom}} and {{visitTo}}</div>